<%= form_with(model: pessoa_documento, local: true) do |form| %>
  <% if pessoa_documento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pessoa_documento.errors.count, "error") %> prohibited this pessoa_documento from being saved:</h2>

      <ul>
      <% pessoa_documento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_pessoa %>
    <%= form.number_field :id_pessoa %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
