<p id="notice"><%= notice %></p>

<h1>Pessoa Documentos</h1>

<table>
  <thead>
    <tr>
      <th>Id pessoa</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pessoa_documentos.each do |pessoa_documento| %>
      <tr>
        <td><%= pessoa_documento.id_pessoa %></td>
        <td><%= pessoa_documento.descricao %></td>
        <td><%= link_to 'Show', pessoa_documento %></td>
        <td><%= link_to 'Edit', edit_pessoa_documento_path(pessoa_documento) %></td>
        <td><%= link_to 'Destroy', pessoa_documento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pessoa Documento', new_pessoa_documento_path %>
