<%= form_with(model: fornecedor_endereco, local: true) do |form| %>
  <% if fornecedor_endereco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fornecedor_endereco.errors.count, "error") %> prohibited this fornecedor_endereco from being saved:</h2>

      <ul>
      <% fornecedor_endereco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_fornecedor %>
    <%= form.number_field :id_fornecedor %>
  </div>

  <div class="field">
    <%= form.label :id_endereco %>
    <%= form.number_field :id_endereco %>
  </div>

  <div class="field">
    <%= form.label :id_tipo_endereco %>
    <%= form.number_field :id_tipo_endereco %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
