<p id="notice"><%= notice %></p>

<h1>Fornecedor Enderecos</h1>

<table>
  <thead>
    <tr>
      <th>Id fornecedor</th>
      <th>Id endereco</th>
      <th>Id tipo endereco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fornecedor_enderecos.each do |fornecedor_endereco| %>
      <tr>
        <td><%= fornecedor_endereco.id_fornecedor %></td>
        <td><%= fornecedor_endereco.id_endereco %></td>
        <td><%= fornecedor_endereco.id_tipo_endereco %></td>
        <td><%= link_to 'Show', fornecedor_endereco %></td>
        <td><%= link_to 'Edit', edit_fornecedor_endereco_path(fornecedor_endereco) %></td>
        <td><%= link_to 'Destroy', fornecedor_endereco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fornecedor Endereco', new_fornecedor_endereco_path %>
