<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @tipo_documento.descricao %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tipo_documento.status %>
</p>

<%= link_to 'Edit', edit_tipo_documento_path(@tipo_documento) %> |
<%= link_to 'Back', tipo_documentos_path %>
