<%= form_with(model: endereco, local: true) do |form| %>
  <% if endereco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(endereco.errors.count, "error") %> prohibited this endereco from being saved:</h2>

      <ul>
      <% endereco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :complemento %>
    <%= form.text_field :complemento %>
  </div>

  <div class="field">
    <%= form.label :numero %>
    <%= form.text_field :numero %>
  </div>

  <div class="field">
    <%= form.label :id_bairro %>

    <select name="endereco[id_bairro]">

      <% vConsulta = Bairro.new %>
      <% for obj in vConsulta.lista_obj do %>
        <% if not @endereco.nil? %>
          <% if obj.id == @endereco.id_bairro %>
            <option value="<%= obj.id %>" selected> <%= obj.descricao %> </option>
          <% else %>
            <option value="<%= obj.id %>"> <%= obj.descricao %> </option>
          <% end %>
        <% else %>
          <option value="<%= obj.id %>"> <%= obj.descricao %> </option>
        <% end %>
      <% end %>
      <% vConsulta.freeze %>

    </select>
  </div>

  <div class="field">
    <%= form.label :id_cep %>

    <select name="endereco[id_cep]">

      <% vConsulta = Cep.new %>
      <% for obj in vConsulta.lista_obj do %>
        <% if not @endereco.nil? %>
          <% if obj.id == @endereco.id_cep %>
            <option value="<%= obj.id %>" selected> <%= obj.descricao %> </option>
          <% else %>
            <option value="<%= obj.id %>"> <%= obj.descricao %> </option>
          <% end %>
        <% else %>
          <option value="<%= obj.id %>"> <%= obj.descricao %> </option>
        <% end %>
      <% end %>
      <% vConsulta.freeze %>

    </select>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
