<%= form_with(model: cidade, local: true) do |form| %>
  <% if cidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cidade.errors.count, "error") %> prohibited this cidade from being saved:</h2>

      <ul>
      <% cidade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :id_estado %>

    <select name="cidade[id_estado]">

      <% vConsulta = Estado.new %>
      <% for obj in vConsulta.lista_obj do %>
        <% if not @cidade.nil? %>
          <% if obj.id == @cidade.id_estado %>
            <option value="<%= obj.id %>" selected> <%= obj.descricao %> </option>
          <% else %>
            <option value="<%= obj.id %>"> <%= obj.descricao %> </option>
          <% end %>
        <% else %>
          <option value="<%= obj.id %>"> <%= obj.descricao %> </option>
        <% end %>
      <% end %>
      <% vConsulta.freeze %>

    </select>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
