<p id="notice"><%= notice %></p>

<h1>Bairros</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Id cidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bairros.each do |bairro| %>
      <tr>
        <td><%= bairro.descricao %></td>
        <td>

          <% obj = Cidade.new %>
          <%= obj.consulta_nome(bairro.id_cidade) %>
          <% obj.freeze %>

        </td>
        <td><%= link_to 'Show', bairro %></td>
        <td><%= link_to 'Edit', edit_bairro_path(bairro) %></td>
        <td><%= link_to 'Destroy', bairro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bairro', new_bairro_path %>
